.card-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(9, 202, 48, 0.454);
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

.card-title {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content {
  color: #555;
  font-size: 1em;
}
