.classroom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}

.classroom-content {
    position: relative;
    z-index: 1;
    transform: translateY(-60px);
}

.classroom-text {
    font-size: 20rem;
    font-weight: 700;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
}

.classroom-text span {
    display: inline-block; 
    transition: color 0.1s ease-in-out;
}

.hover-image {
    position: fixed; 
    z-index: 2; 
    pointer-events: none; 
    transform: translate(-62%, -67%) scale(0.21);
    transition: opacity 0.2s ease-in-out;
    object-fit: cover;
}
